header.header(data-scroll-sticky)
	.container
		.header__row
			+lazyPicture({src: `${baseDir}images/avatar.png`, alt: 'Аватар'}).header__avatar#hello

			nav.header__menu#desktop-menu
				.header__list
					each object, key in data.header.menu
						a.header__link(
							href=object.url
							data-link=key
							data-scroll-to
							data-scroll-id=object.id
						)
							!= object.name

			button.header__burger.btn.js-burger(type="button")
				span
				span
				span

			nav.header__menu-mobile.is-hidden#mobile-menu
				.header__mobile-list
					each object, key in data.header.menu
						a.header__mobile-link(
							href=object.url
							data-link=key
							data-scroll-to
							data-scroll-id=object.id
						)
							!= object.name
				.header__mobile-img
					+lazyPicture({src: `${baseDir}images/time.png`})
