main.home
	.loader
		img.loader__img(src="./images/load.png" alt="ddd")
	section.about.js-scrollspy#resume(data-scroll-section)
		.container
			.about__info
				.about__info-item.is-animate(data-scroll data-scroll-offset="200")
					h1.about__title(data-scroll data-scroll-repeat data-scroll-call="toggleResume" data-scroll-offset="200")
						!= data.about.title
					p.about__text
						!= data.about.description

				.about__info-item.is-animate(data-scroll data-scroll-offset="200")
					.about__info-box
						a.about__text(href="mailto:" + data.share.mail)
							!= data.share.mail
						a.about__text(href="tel:" + data.share.phone)
							!= data.share.phone
						p.about__text!= data.share.city
						.about__socials
							each object in data.share.list
								a.about__socials-item(href=object.link _blank data-social=object.social)
									+svg(object.social)

			.line.line__one.is-animate(data-scroll data-scroll-offset="200")
				+lazyPicture({ src: `${baseDir}images/line1.png`}).line__pc
				+lazyPicture({src: `${baseDir}images/line1m.png`}).line__mobile

	section.skills.js-scrollspy#about(data-scroll-section data-scroll-id="about" data-scroll-offset="200")
		.container
			.skills__row.is-animate(data-scroll data-scroll-offset="200")
				.skills__col
					h2.skills__title(data-scroll data-scroll-repeat data-scroll-call="toggleAbout" data-scroll-offset="200") Опыт работы
					each object in data.experience
						.skills__experience
							.skills__experience-date
								!= object.date
							.skills__experience-box
								.skills__experience-title.is-yellow.is-blue
									!= object.title
								.skills__experience-rhombs
									each color in object.education
										.skills__experience-romb(class='is-'+ color)
							.skills__experience-box
								if (object.logo)
									.skills__experience-logo
										+lazyPicture({src: `${baseDir}images/` + object.logo + `.png`})
								.skills__experience-city
									!= object.city
							.skills__experience-description
								!= object.description
							if (object.links)
								each link in object.links
									a.skills__experience-link(href= link.href _blank)!= link.title

				.skills__col#sticky-img
					.skills__image(data-scroll data-scroll-sticky data-scroll-target="#sticky-img" data-scroll-offset="-300")
						+lazyPicture({ src: `${baseDir}images/coin.png`})

				.skills__col
					h2.skills__title.skills__education-head Образование
					.skills__box
						each object in data.education
							.skills__education
								.skills__education-box
									.skills__education-rhombs
										each item in object.colors
											if (item.select === 1)
												.skills__education-rhomb.is-select(class='is-'+ item.color)
											else
												.skills__education-rhomb(class='is-'+ item.color)
								.skills__education-title
									!= object.title
								.skills__education-description
									!= object.university

			.line.line__two.is-animate(data-scroll data-scroll-offset="200")
				+lazyPicture({src: `${baseDir}images/line2.png`}).line__pc
				+lazyPicture({src: `${baseDir}images/line2m.png`}).line__mobile

	section.skill.js-scrollspy#skills(data-scroll-section)
		.container.is-animate(data-scroll)
			h2.skill__head(data-scroll data-scroll-repeat data-scroll-call="toggleSkills" data-scroll-offset="200") Навыки
			.skill__row
				each object in data.skill
					.skill__item
						.skill__title
							!= object.title
						.skill__description
							!= object.description
	a.top(href="#resume" data-scroll-to)
		.top__percent 0 %
		+svg('arrow-top').top__arrow.is-hidden
		svg.top__svg(width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
			circle.top__ring-one(cx="20" cy="20" r="19.5" stroke="white" stroke-opacity="1")
			circle.top__ring-active(cx="20" cy="20" r="19.5" stroke="white" stroke-opacity="1")
