main.main
	.loader
		img.loader__img(src="./images/load.png" alt="ddd")
	section.about.js-scrollspy(data-scroll-section)
		.container#resume
			.about__info
				.about__info-item.is-inview
					h1.about__title
						!= data.about.title
					p.about__text
						!= data.about.description

				.about__info-item
					.about__info-box
						a.about__text(href="mailto:" + data.share.mail)
							!= data.share.mail
						a.about__text(href="tel:" + data.share.phone)
							!= data.share.phone
						p.about__text!= data.share.city
						.about__socials
							each object in data.share.list
								a.about__socials-item(href=object.link _blank)
									+svg(object.social)

			.line.line__one
				+lazyPicture({ src: `${baseDir}images/line1.png`}).line__pc
				+lazyPicture({src: `${baseDir}images/line1m.png`}).line__mobile

	section.skills.js-scrollspy(data-scroll-section)
		.container#about
			.skills__row
				.skills__col
					h2.skills__title Опыт работы
					each object in data.experience
						.skills__experience
							.skills__experience-date
								!= object.date
							.skills__experience-box
								.skills__experience-title
									!= object.title
								.skills__experience-rhombs
									each color in object.education
										.skills__experience-romb(class='is-'+ color)
							.skills__experience-box
								if (object.logo)
									.skills__experience-logo
										+lazyPicture({src: `${baseDir}images/` + object.logo + `.png`})
								.skills__experience-city
									!= object.city
							.skills__experience-description
								!= object.description
							if (object.links)
								each link in object.links
									a.skills__experience-link(href= link.href _blank)!= link.title

				.skills__col
					.skills__image(data-scroll data-scroll-sticky data-scroll-target="#about")
						+lazyPicture({ src: `${baseDir}images/coin.png`})

				.skills__col
					h2.skills__title.skills__education-head Образование
					.skills__box
						each object in data.education
							.skills__education
								.skills__education-box
									.skills__education-rhombs
										each item in object.colors
											if (item.select === 1)
												.skills__education-rhomb.is-select(class='is-'+ item.color)
											else
												.skills__education-rhomb(class='is-'+ item.color)
								.skills__education-title
									!= object.title
								.skills__education-description
									!= object.university

			.line.line__two
				+lazyPicture({src: `${baseDir}images/line2.png`}).line__pc
				+lazyPicture({src: `${baseDir}images/line2m.png`}).line__mobile
	section.skill.js-scrollspy(data-scroll-section)
		.container#skills
			h2.skill__head Навыки
			.skill__row
				each object in data.skill
					.skill__item
						.skill__title
							!= object.title
						.skill__description
							!= object.description
		a.top.js-to-anchor(href="#top")
